; there are 4 categories media, games, utilities, system.
; place the apps in according categories.

[main]
active_fps=60
background_fps=2
vsync_mode=1 ; 0 is off, 1 is enabled. Other modes not recommended.
display_names=true ; Display names under the app buttons
font="Resmont-Bold.otf"
media_disabled=false ; Disables media category
games_disabled=false ; Disables games category

[media.kew]
name="Music"
icon="music.svg"
command="alacritty -o font.size=16.0 -e kew"

[media.vlc]
name="VLC"
icon="vlc.svg"
command="vlc"

[media.vacuumtube]
name="Vacuumtube"
icon="youtube.svg"
command="vacuumtube"

[media.web]
name="Browser"
icon="web.svg"
command="chromium"
[media.kew]
name="Music"
icon="music.svg"
command="alacritty -o font.size=16.0 -e kew"

[media.vlc]
name="VLC"
icon="vlc.svg"
command="vlc"

[media.vacuumtube]
name="Vacuumtube"
icon="youtube.svg"
command="vacuumtube"

[media.web]
name="Browser"
icon="web.svg"
command="chromium"

[games.duckstation]
name="Duckstation"
icon="duckstation.svg"
command="~/Scripts/launch_duckstation.sh"

[games.pcsx2]
name="PCSX2"
icon="pcsx2.svg"
command="~/Scripts/launch_pcsx2.sh"

[games.steam]
name="Steam"
icon="steam.svg"
command="steam"

[games.lutris]
name="Lutris"
icon="lutris.svg"
command="lutris"

[utilities.pcmanfm]
name="File Browser"
icon="file_manager.svg"
command="pcmanfm"

[utilities.terminal]
name="Terminal"
icon="terminal.svg"
command="alacritty"

[utilities.htop]
name="htop"
icon="htop.svg"
command="alacritty -e htop"

[utilities.nvtop]
name="NVTOP"
icon="nvtop.svg"
command="alacritty -e nvtop"

[system.update]
name="Update"
icon="update.svg"
command="alacritty -e /opt/htpc-scripts/full_update.sh"

[system.sleep]
name="Sleep"
icon="sleep.svg"
command="systemctl suspend"

[system.restart]
name="Restart"
icon="restart.svg"
command="systemctl reboot"

[system.shutdown]
name="shutdown"
icon="shutdown.svg"
command="systemctl poweroff"
